.white-text {
    color: #000000 !important;
}

.white-text.no-text-transform{
    color: #FFFFFF !important;
}

.select-wrapper, .black-text, input, textarea, .caret{
    color: #FFFFFF !important;
}

.select-wrapper input.select-dropdown:disabled {
    color: #ffffff87 !important;
}

p, table, blockquote, pre{
    color: #E1E8ED !important;
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: rgb(21, 29, 41);
}

.grey-text{
    color: rgb(145, 145, 145) !important;
}

.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
    background-color: rgb(9, 33, 65) !important;
}

.dropdown-content li.selected{
    background-color: rgb(40, 62, 94) !important;
}

.dropdown-content {
    background-color: rgb(19, 21, 24) !important;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: white !important;
}

.grey-text.text-darken-4{
    color: rgb(241, 239, 239) !important;
}

.card-panel, .collection .collection-item {
    background-color: rgb(19, 21, 24);
}

.collection {
    border: 1px solid rgb(3, 43, 83) !important;
}

.collection.with-header .collection-header {
    background-color: rgb(30, 39, 51) !important;
    border-bottom: 1px solid rgb(3, 43, 83) !important;
}

.collection .collection-item {
    color: rgb(255, 255, 255) !important;
    border-bottom: 1px solid rgb(3, 43, 83) !important;
}

.collection .collection-item.active {
    background-color: #69a4f1 !important;
}

.collection a.collection-item:not(.active):hover {
    background-color: #384e69;
}

.card, .modal, .modal-footer {
    background-color: rgb(19, 25, 31);
}

.notif-color{
    background-color: rgb(66, 73, 77);
}

.notif-color.seen{
    background-color: rgb(30, 36, 41);
}

.modal .modal-footer{
    background-color: rgb(27, 35, 44) !important;
}

.modal-footer .btn-flat{
    color: white !important;
}

.specific.btn-flat{
    color: white !important;
}

.chip{
    background-color: rgb(27, 45, 66) !important;
}

.commentBack{
    background-color: #123446 !important;
}

.divider{
    background-color: rgb(83, 91, 100);
}

collection .collection-item {
    background-color: #1B2836;
}

.notification-bold-text{
    color: rgb(164, 162, 251) !important;
}

.card .card-image .card-title{
    background-color: rgb(11, 12, 14);
}

.card .card-reveal {
    background-color: rgb(16, 21, 24);
}

/* Modify the scrollbar background */
::-webkit-scrollbar-track {
    background: rgb(1, 17, 27) !important; 
    border-left: 1px solid #292F33 !important;
}

/* width of scrollbar */
::-webkit-scrollbar {
    width: 8px !important;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888 !important; 
    border-radius: 12px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555 !important; 
    border-radius: 10px !important;
}

main{
    background-color: #1B2836 !important;
}

.title-parallax, .title-no-parallax {
    color: white !important;
}

.parallax.no-z-index.default-color, .default-color, .background-full.default-color{
    background-color: #252f6dd0;
}

.pag a{
    color: #ffffff;
}

h1 {
    font-size: 4.2em;
    color: #e9eaf1fa;
}

h2 {
    font-size: 3.1em;
    color: #dbddf3fa;
}

h3 {
    font-size: 2.1em;
    color: #d6d8eb;
}

h2.header a, h3.header a{
    color: #96c2ea !important;
}

h4 {
    font-size: 1.8em;
    color: #bcbfdb;
}
empty{
    color: #e9551bc9;
}

.pass{
    color: #00a560d2;
}

h5{
    font-size: 1.3em;
    color: #a6a8c0;
}

h6{
    font-size: 1.1em;
    color: #a8addf;
}

.numWeek{
    color: rgb(177, 177, 250);
}

.notCard{
    margin-right: 0 !important;
    text-transform: none !important;
    color: #0089ff !important;
}

.notCardComment{
    margin-right: 0 !important;
    text-transform: none !important;
    color: #55b3f1 !important;
}

.pagePresentation{
    vertical-align: sub !important; 
    font-size: 1.8em !important;
    color: #a8aef1 !important;
}

.notCardCommentLink{
    margin-right: 0 !important;
    text-transform: none !important;
    color: #6686f0 !important;
}

liked{
    color: rgb(95, 87, 87) !important;
}

.disliked{
    color: rgb(223, 87, 87) !important;
}

.error{
    color: #e64545;
}

.downvote{
    color: #ff9696;
}

.modalDislike{
    color: #e24e13;
}

.bWhite{
    background: white;
}

.side-nav li>a{
    color: #ffffff;
}

.pagination li a{
    color: #ffffff;
}

.pagination li.active{
    background-color: #1773be !important;
}
.pagination li.disabled span{
    color: rgb(189, 187, 187);
}

.titleBox{
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 300;
    color: #646feb9d;
}

.card-action-refresh{
    text-transform: none !important;
    color: rgb(212, 212, 212) !important;
    margin-right: 0 !important;
}

.nav-main{
    background-color: #0d2e55 !important;
}

.second-nav{
    background-color: #12456e !important;
}

.footer-color{
    background-color: #183f64 !important;
}

.page-footer .footer-copyright {
    background-color: #3333333b;
}

.side-nav, .side-shitstorm{
    background-color: rgb(19, 25, 31) !important;
}

.side-nav li>a:hover {
    background-color: #a7a7a72d !important;
}

nav ul a:hover {
    background-color: #6f6f8544 !important;
}

/* Datepicker */

.picker__day--infocus { /* Elements du tableau */
    color: white !important;
}

.picker__box {
    background-color: #0a223f !important;
}

.picker__day--disabled {
    background: #7f7f88 !important;
    border-color: #282842 !important;
    border-radius: 5px;
}

.picker__date-display {
    background-color: #24273e !important;
}

.picker__nav--prev:hover, .picker__nav--next:hover {
    background: #7f7f88;
    border-radius: 7px;
}

.picker__nav--prev:before {
    border-right: 0.75em solid #dadada;
}

.picker__nav--next:before {
    border-right: 0;
    border-left: 0.75em solid #dadada;
}

@media (min-height: 28.875em){
    .picker__box {
        border-radius: 7px;
        border: 1px solid #181818;
        border-top-color: #181818;
        border-right-color: #181818;
        border-bottom-color: #181818;
        border-left-color: #181818;
    }
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: #5380b9;
}

/* Datepicker end */

.card-tweet-deleted{
    background-color: rgb(14, 21, 31) !important;
}

.context-delete-color{
    color: rgb(135, 161, 196) !important;
}

.tap-target{
    background-color: #82cef9;
}

.tap-target-wave::before, .tap-target-wave::after {
    background-color: #4da9de;
}

.collap-body-custom{
    background-color: rgb(26, 26, 43) !important;
}

.collapsible-header {
    background-color: rgb(15, 15, 32) !important;
    border-bottom: 1px solid rgb(15, 16, 17) !important;
    color: white !important;
}

.collapsible-body {
    border-bottom: 1px solid rgb(27, 26, 41);
    color: white !important;
}

.collapsible {
    border-top: 1px solid rgb(27, 26, 41);
    border-right: 1px solid rgb(27, 26, 41);
    border-left: 1px solid rgb(27, 26, 41);
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #eef9f4;
}

.tabs .indicator {
    background-color: #e8f1eb;
}

.tabs .tab a {
    color: #f1f1f1b3;
}

.tabs {
    background-color: rgb(26, 82, 125)
}

.tabs.with-parallax {
    background-color: rgb(29, 54, 84);
}

.tabs.with-parallax .tab a:hover, .tabs.with-parallax .tab a.active {
    color: #eef9f4;
}

.tabs.with-parallax .tab a {
    color: #f1f1f1b3;
}

.tabs.with-parallax .indicator {
    background-color: #e8f1eb;
}

/* Text input bottom border on focus */
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #6874ad;
    -webkit-box-shadow: 0 1px 0 0 #6874ad;
    box-shadow: 0 1px 0 0 #6874ad;
}

/* Input and textaera label color */
input:not([type]):focus:not([readonly])+label, 
input[type=text]:not(.browser-default):focus:not([readonly])+label, 
input[type=password]:not(.browser-default):focus:not([readonly])+label, 
input[type=email]:not(.browser-default):focus:not([readonly])+label, 
input[type=url]:not(.browser-default):focus:not([readonly])+label, 
input[type=time]:not(.browser-default):focus:not([readonly])+label, 
input[type=date]:not(.browser-default):focus:not([readonly])+label, 
input[type=datetime]:not(.browser-default):focus:not([readonly])+label, 
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, 
input[type=tel]:not(.browser-default):focus:not([readonly])+label, 
input[type=number]:not(.browser-default):focus:not([readonly])+label, 
input[type=search]:not(.browser-default):focus:not([readonly])+label, 
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #5596d2;
}

button:focus {
    outline: none;
    background-color: #4a669696;
}

.border-user {
    background-color: #233448;
}

.border-user.attenuation {
    background-color: #2c4461;
}

.border-user.attenuation-twitter {
    background-color: #7195c2;
}

.card-new-flow, .mastodon-toot {
    background-color: #233448;
}

.cr-slider {
    -webkit-appearance: none;
    border: none !important;
    width: 300px !important;
    max-width: 100% !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    background-color: transparent !important;
}
