body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-color: #f5f5f5 !important;
}

main, footer, nav, #main-container {
    transition: 0.3s ease;
}

main.no-background {
    background-color: unset !important;
}

#main-container {
    transform-origin: top left;
}

/* SHITSTORM SIDE CONTAINER */
.side-shitstorm {
    position: fixed;
    width: 85vw;
    max-width: 1200px;
    right: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #ffffff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
    transition: 0.5s ease;
}

.low-brightness main, .low-brightness nav, .low-brightness footer {
    filter: brightness(50%);
}

.disable-selecting main, .disable-selecting nav, .disable-selecting footer {
    user-select: none;
    pointer-events: none;
}

.close-shitstorm-button {
    position: fixed;
    top: 10px;
    left: 30px;
    display: block;
    z-index: 99;
    color: white;
    transform: scale(0);
    transition: .6s ease;
    cursor: pointer;
}

@media only screen and (max-width: 996px) {
    .close-shitstorm-button {
        left: 5px;
    }
}

.low-brightness .close-shitstorm-button {
    transform: scale(1);
}

/* END SHITSTORM SIDE CONTAINER */

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.italic {
    font-style: italic;
}

.small-info {
    font-size: .8em;
}

.bold {
    font-weight: bold;
}

.row.no-margin {
    margin-bottom: 0;
}

.container {
    padding-top: .5em;
}

.title-parallax.with-border {
    color: rgb(44, 44, 44);
    text-shadow: #2c2c2cbb 1px 1px, #2c2c2cbb -1px 1px, #2c2c2cbb -1px -1px, #2c2c2cbb 1px -1px;
}

.title-parallax, .title-no-parallax {
    color: rgb(44, 44, 44);
    text-shadow: #2c2c2c63 1px 1px;
    font-size: 4.2rem;
}

.title-parallax {
    margin-left: .5em; 
    position: absolute; 
    bottom: 0;
}

.shitstorm-title {
    color: #5055b9;
    word-wrap: break-word;
}

.parallax-container-profile {
    height: 350px;
    background-position: center;
    background-size: cover;
}

.parallax-container-shitstorm {
    height: 500px;
    background-position: center;
    background-size: cover;
}

.parallax-container-shitstorm.force-mobile {
    height: 300px;
    position: relative;
    top: 0;
    width: 100%
}

.parallax-login{
    height: 250px;
}

.image-profile-parallax {
    width: 170px; 
    height: 170px;
    border-radius: 15px; 
    border: 3px #1f1f1f8a solid;
}

.image-profile-container-parallax {
    font-size: 4.2rem; 
    position: absolute; 
    right: 0; 
    top: 225px;
    margin-top: .5em; 
    z-index: 3;
}

.new-comment-card {
    height: auto !important; 
    padding: 2em !important; 
    padding-bottom: 1.3em !important; 
    margin-top: 1em;
}

@media only screen and (max-width: 996px){
    .image-profile-container-parallax{
        top: 35px;
    }

    .parallax-container-profile {
        height: 200px;
        position: relative;
        top: 0;
        width: 100%;
    }

    .parallax-container-shitstorm {
        height: 300px;
        position: relative;
        top: 0;
        width: 100%
    }

    .title-parallax, .title-no-parallax {
        font-size: 3.6rem; 
    }

    .not-on-mobile {
        display: none;
    }
}

.parallax.no-z-index{
    z-index: unset !important;
}

.parallax.no-z-index.default-color, .default-color, .background-full.default-color{
    background-color: #41bfb2;
}

.side-nav li>a.disabled:hover {
    background-color: unset !important;
    cursor: default;
}

.side-nav .nav-header {
    font-size: 1.1rem;
}

.side-nav li.active {
    background-color: #cecbcb3d;
}

footer {
    padding-top: 5em;
}

h1 {
    font-size: 4.2em;
    color: #3342e6a2;
}

h2 {
    font-size: 3.1em;
    color: #313dc0a2;
}

h3 {
    font-size: 2.1em;
    color: #6d75c7a2;
}

h4 {
    font-size: 1.8em;
    color: #646feb9d;
}

.pagePresentation{
    vertical-align: sub !important;
    font-size: 1.8em !important;
    color: #646feb9d !important;
}

.card-content {
    padding-bottom: 0 !important;
}

.notification-card{
    padding: .8em !important;
    padding-left: .5em !important;
}

.pag a{
    color: #444;
    display: inline-block;
    font-size: 10.2rem;
    padding: 0 10px;
    line-height: 30px;
}

.pag.material-icons{
    font-size: inherit;
}

.disabled a .pag {
    color: #999 !important;
}

.disabled.material-icons{
    color: #999 !important;
}

.notification-bold-text{
    font-weight: bold;
    color: rgb(116, 116, 202);
}

.notif-color{
    background-color: #dad9ffc7;
}

.notif-color.seen{
    background-color: white;
}

.notification-text{
    height: 110px;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

img.mauto{
    margin: auto;
    margin-top: 10px !important;
}

@media only screen and (min-width: 600px){
    .notification-text{
        height: 55px !important;
    }
}

.right-close{
    position: absolute;
    right: 10%;
}

.no-right-padding{
    padding-right: 0 !important;
}

.comment-chip{
    margin-top: .2em;
}

.but1 {
    float: right !important;
}

.but0, .but1{
    margin-bottom: 0.7em;
}

.empty{
    color: #e9551bc9;
}

.pass{
    color: #00a560d2;
}

h5{
    font-size: 1.3em;
    color: #646feb9d;
}

h6{
    font-size: 1.1em;
    color: #2d3ac49d;
}

.numWeek{
    color: rgb(131, 131, 255);
}

.notCard{
    margin-right: 0 !important;
    text-transform: none !important;
    color: #0089ff !important;
}

.notCardComment{
    margin-right: 0 !important;
    text-transform: none !important;
    color: #ffc493 !important;
}

.notCardCommentLink{
    margin-right: 0 !important;
    text-transform: none !important;
    color: #6686f0 !important;
}

.linkCard{
    text-transform: none !important;
}

.notMargin{
    margin-right : 0 !important;
}

.clearb{
    clear: both;
}

.search-link{
    font-size: xx-large !important;
}

.link{
    overflow-wrap: break-word;
}

h4.noShitstorm{
    text-align: center;
    padding: 15px;
}

.commentaireJournal{
    padding: 12px 8px !important;
}

.commentaireUnique{
    padding: 12px 16px !important;
}

.liked{
    color: rgb(95, 87, 87) !important;
}

.disliked{
    color: rgb(223, 87, 87) !important;
}

.error{
    color: #e64545;
}

.downvote{
    color: #ff9696;
}

.modalDislike{
    color: #e24e13;
}

.bWhite {
    background: white;
}

.pagination li.active {
    background-color: #48a8f7 !important;
}
.pagination li.disabled span {
    color: #999;
}

.titleBox {
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 300;
    color: #646feb9d;
}

.card-action-refresh {
    text-transform: none !important;
    color: #444 !important;
    margin-right: 0 !important;
}

.modal-preloader {
    display: block;
    margin: 1em auto;
}

/* Image changer */
.image-changer:hover {
    cursor: pointer;
    filter: brightness(0.75); 
    transition: .5s;
}

.image-changer {
    transition: .5s;
}

/* Button on profile */
.profile_button {
    margin-right: 1em;
    margin-top: 1em;
}

/* Bordure pour les cards */
.card-border {
    border-radius: 10px;
}

.card-pointer {
    cursor: pointer;
}

/* Permet de mettre les box correctement : soumission */
@media only screen and (min-width: 960px){
    .align-boxes{
        width: 48% !important;
    }

    .align-button{
        width: 45% !important;
    }

    .margin-aligned-boxes{
        margin-right: 2% !important;
    }

    .l5-mini{
        width: 49% !important;
    }
}

.border-user {
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 13px;
    padding-left: 20px;
    padding-right: 20px;
}

.border-user.attenuation, .border-user.attenuation-twitter {
    background-color: #e2e0e0bb;
}

.btn-personal {
    width: fit-content !important;
}

.btn-personal, .btn-personal-classic {
    letter-spacing: inherit !important;
    text-transform: inherit;
    font-size: 1.2rem;
    color: #608bdc;
}

.btn-personal, .btn-personal-classic, .btn-personal-mini {
    line-height: inherit;
    box-shadow: none;
    padding: 0.8em !important;
    cursor: pointer;
    height: auto !important;
}

.btn-personal-mini {
    border-radius: 10px;
}

.card-new-flow{
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 13px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.fit-content.auto-height{
    height: auto !important;
    width: fit-content;
}

.card-user-new{
    height: 200px;
    margin-bottom: 10px; 
    position: relative;
}

.buttons-user {
    position: absolute;
    bottom: 20px;
    right: 5px;
}

.nav-main{
    background-color: #00897b !important;
}

.second-nav{
    background-color: #009688 !important;
    margin-bottom: 0 !important;
}

.footer-color{
    background-color: #26a69a !important;
}

.side-nav{
    background-color: #ffffff !important;
}

.commentBack{
    background-color: #78909c !important;
}

/* Modify the scrollbar background */
::-webkit-scrollbar-track {
    background: rgb(255, 255, 255) !important; 
    border-left: 1px solid rgb(231, 231, 231);
}

/* width of scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 10px;
}

/* Deleted-tweet card */
.card-tweet-deleted{
    padding: 14px !important;
    border: 1px solid rgb(46, 45, 45);
    border-radius: 4px;
    margin: auto;
    margin-bottom: 14px;
    margin-top: 8px;
    display: block;
    max-width: 500px;
    padding-top: 0 !important;
    text-align: left;
    background-color: #e4e4e42b !important;
}

/* Image from shitstorm */
.tweet-image {
    max-width: 500px !important;
    display: block;
    margin: auto;
}

.toot-image{
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 5px;
}

.toot-profile-image{
    display: block;
    float: right;
    height: 60px;
    width: 60px;
    border-radius: 7px;
    margin-right: 7px;
    margin-top: 10px;
    transition: .5s;
}

.image-cursor-overlay:hover {
    cursor: pointer;
    opacity: 0.8;
    filter:alpha(opacity=20); 
    transition: .5s;
}

.mastodon-toot {
    margin: auto;
    margin-top: 8px;
    display: block;
    width: 500px;
    text-align: left;
    margin-bottom: 10px; 
    position: relative;
    background-color: #eeeeee;
    border-radius: 10px;
    padding-top: 13px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 18px !important;
}

.mastodon-profile {
    float: left;
}

.mastodon-content {
    clear: both;
}

/* Let the deleted-tweet card / image be fit on screen at <= 600px */
@media only screen and (max-width: 600px){
    .card-tweet-deleted, .mastodon-toot {
        width: 100%;
    }

    .tweet-image, .toot-image {
        max-width: 100% !important;
    }
}

.card-tweet-deleted.with-padding{
    padding-top: 14px !important;
}

.shitstorm-divider{
    margin-top: 10px; 
    margin-bottom: 15px;
}

.divider-margin {
    margin: 30px 0;
}

h2.header a, h3.header a{
    color: #303030 !important;
}

/* Annonce de suppression */
.context-delete-color{
    color: #476fa3 !important;
}

.link-arrow{
    font-size: 3.3rem;
    transition: all .3s ease;
}

.link-arrow.unfolded {
    transform: rotate(180deg);
}

.tweet-content{
    color: #030303;
}

.tweet-author{
    color: #2c2c2c;
}

.divider-delete-tweet-bottom{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.divider-delete-tweet-top{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 12px;
}

.deleted-img{
    padding: 0 !important;
    border-radius: 8px !important;
}

.materialboxed.active {
    margin: 0 !important;
}

.arrow-button{
    font-size: 4.2rem !important;
}

.storm-card{
    background-image: url(https://shitstorm.fr/img/stormleft.gif), url(https://shitstorm.fr/img/storm.gif);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right;
    background-size: 250px 350px, 250px 350px;
}

.snow-main{
    background-image: url(https://shitstorm.fr/img/ng.gif);
    background-repeat: repeat;
    background-size: 100% auto;
}

a.no-decoration{
    color: inherit !important;
}

.tap-target{
    background-color: #358d99;
}

.collap-body-custom{
    background-color: white;
    padding: .9rem 2rem 1.3rem 2rem !important;
    /* padding-top: .9rem !important;
    padding-bottom: 1.2rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important; */
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #eef9f4;
}

.tabs .indicator {
    background-color: #e8f1eb
}

.tabs .tab a {
    color: #f1f1f1b3;
}

.tabs {
    background-color: #08a798;
}

.tabs.with-parallax {
    background-color: #dedede94;
}

.tabs.with-parallax .tab a:hover, .tabs.with-parallax .tab a.active {
    color: #1d1d1d;
}

.tabs.with-parallax .tab a {
    color: #1d1d1db3;
}

.tabs.with-parallax .indicator {
    background-color: #1f1f1f;
}

.arobase{
    font-weight: 550;
}

/* Button for search menu */
nav ul button {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    border: 0px;
    background-color: transparent;
}

.fancy-boxed{
    outline: none;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}

.no-cursor{
    cursor: inherit;
}

.mouse-cursor{
    cursor: default;
}

.side-nav .user-view .name, .side-nav .userView .name {
    font-size: 20px;
    line-height: 50px;
}

.name-side-nav {
    color: #ffffff;
    text-shadow: #2c2c2cbb 1px 1px, #2c2c2cbb -1px 1px, #2c2c2cbb -1px -1px, #2c2c2cbb 1px -1px;
}

/* Background images for logins/creations */

.background-full {
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 0;
}

.background-user-card {
    height: 100px !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.block {
    display: block;
}

.show-if-first-child, .no-application-linked {
    display: none;
}

.show-if-first-child:first-child, .no-application-linked:first-child {
    display: block;
}

.show-if-only-child {
    display: none;
}

.show-if-only-child:only-child {
    display: block;
}

.underline-hover:hover {
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

.no-text-color {
    color: inherit;
}

.user-card-padding {
    padding: 13px !important;
    padding-left: 20px !important;
    padding-right: 20px !important
}

.user-card-image {
    border-radius: 10px;
    width: 75px;
    height: 75px;
    position: absolute;
    right: 20px;
    top: 45px;
    border: 3px #1f1f1f8a solid;
}

.user-card-borders {
    padding: 0 !important; 
    height: 250px; 
    margin-left: 0.5% !important; 
    margin-right: 0.5%;
}

.side-nav .user-view .background, .side-nav .userView .background{
    background-size: cover;
}

.no-webp .login-image {
    background-image: url("https://shitstorm.fr/img/back/img_login_cloud.jpg");
}
.no-webp .creation-image {
    background-image: url("https://shitstorm.fr/img/back/sunset_create_account.jpg");
}
.no-webp .configure-image {
    background-image: url("https://shitstorm.fr/img/back/cloudy_weather.jpg");
}
.no-webp .complete-image {
    background-image: url("https://shitstorm.fr/img/back/stormy_weather.jpg");
}

.webp .login-image {
    background-image: url("https://shitstorm.fr/img/back/img_login_cloud.webp");
}
.webp .creation-image {
    background-image: url("https://shitstorm.fr/img/back/sunset_create_account.webp");
}
.webp .configure-image {
    background-image: url("https://shitstorm.fr/img/back/cloudy_weather.webp");
}
.webp .complete-image {
    background-image: url("https://shitstorm.fr/img/back/stormy_weather.webp");
}

/* Selectors for ultra-large */
@media only screen and (max-width: 1100px){
    .show-on-xtra-large-only {
        display: none;
    }
}

@media only screen and (min-width: 1101px){
    .hide-on-xtra-large-only {
        display: none;
    }
}
