body {
    background-color: #1a162e;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 280;
}

center {
    margin-top: 50px;
}

hr {
    margin: 30px 10px;
}

p, div, li {
    color: white;
    font-size: 1.3rem;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

a {
    color: rgb(108, 189, 255);
}

.underline {
    text-decoration: underline;
}

.container {
    width: 75%;
}

@media screen and (max-width: 996px) {
    .container {
        width: 100%;
    }
}

.inputs {
    border: 1px #535353 solid;
    border-radius: 7px;
    width: fit-content;
    padding: 10px;
    margin: 10px;
}

input {
    float: right;
    padding: 5px;
}

label {
    float: left;
    margin: 5px;
    margin-right: 15px;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.clearb {
    clear: both;
}
